/* CSS Document */
body
{
    /*background:#3561F0 repeat left top;*/
	/*background:#A9B8F1 repeat left top;*/
    font-size: 100.01%;
    color: #000;
    text-align: left;
    font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    font-size: 75.00%;
}

.security
{
	background: url(../image/security.png) 0px 0px no-repeat !important;
}

#cuadro_login
{
    position:fixed;
    top:25%;
    right:10%;
    border: 0px solid;
    width: 43%;
    height: 40%;
    background-color:transparent;
    opacity:1;
    border-radius: 10px;
    z-index:1;
}

#cuadro_login_2
{
    position:fixed;
    top:25%;
    right:50%;
    border: 0px solid;
    width: 43%;
    height: 40%;
	background-color:transparent;
    opacity:1;
    border-radius: 10px;
    z-index:1;
}

#cuadro_login_cabeza
{
    position:relative;
    border:0px solid;
    width:100%;
    left:5px;
    top:5px;
    z-index:3;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

#cuadro_login_cuerpo
{
    position:relative;
    border:2px solid black;
    width:100%;
    height: 200px;
    left:0px;
    top:25px;
    z-index:3;
    color:white;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    border: 0px solid;
}


 #cuadro_login_pie
{
    position:relative;
    border:0px solid;
    width:100%;
    left:0px;
    top:28px;
    z-index:3;
    color:white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}



